name: Run ML Predictions

on:
  schedule:
    - cron: '*/5 * * * *'  # every 5 minutes
  workflow_dispatch:

jobs:
  run-ml:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install dependencies
        run: |
          if [ -f "requirements.txt" ]; then
              pip install -r requirements.txt
          else
              echo "requirements.txt not found, installing dependencies manually"
              pip install firebase-admin ultralytics pandas Pillow joblib
          fi

      - name: Set up Firebase credentials
        run: |
          echo "$HANNAH_FIREBASE_JSON" > ph-sensor-test-firebase-adminsdk-fbsvc-55964885eb.json
        shell: bash

      - name: Run ML script
        run: timeout 270s python MLPredictions.py
